{% extends 'dashboard.html' %}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card card-stats">
          <div class="card-body ">
            <form action="/dashboard/{{ exam_one.id }}/edit" method="post">
              <div  class="form-group">
                <textarea class="form-control" placeholder="question" name="question" >{{ exam_one.question }}</textarea></div>
              <div  class="form-group"><input type="text" class="form-control" name="option_a" placeholder="option_a"  value="{{ exam_one.option_a }}" required></div>
              <div  class="form-group"><input type="text" class="form-control" name="option_b" placeholder="option_b" value="{{ exam_one.option_b }}"  required></div>
              <div  class="form-group"><input type="text" class="form-control" name="option_c" placeholder="option_c" value="{{ exam_one.option_c }}" required></div>
              <div  class="form-group"><input type="text" class="form-control" name="answer" placeholder="Answer" value="{{ exam_one.answer}}"  required></div>
              <div  class="form-group"><input type="submit" class="form-control" value="update"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}